<div class="page-header">
  <div class="shine">
    <div class="container">
      <div class="row-fluid">
        <div class="span12">
          <div class="row-fluid">
            <div class="span12">
              <h1 class="welcome_to_dashboard">Developer Profile</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="well" style="width:760px; margin: 20px auto;">
  <% if flash[:notice] %>
    <div class="alert alert-warning"><%= flash[:notice].html_safe %></div>
  <% end %>
  <div id="rootwizard">
    <p>Please edit the fields below and click update to save the changes. Fields marked with * are required</p>
    <ul class="bwizard-steps" data-start="1">
      <li><a href="#tab1" data-toggle="tab" class="lead"> <%= @user.name %>'s Profile</a></li>
    </ul>
    <div class="tab-content">
        
        <%= image_tag(@user.gravatar_url) %></li></br>
        <br>
        

        <%= form_for @user, :url => developer_path(@user), :method => "PUT" do |f| %>
              <%=fields_for @account do |a|%>

                <%= a.label :name, "Name*" %>
                <%= a.text_field :name, :class => 'required' %>
                <%= a.label :email, "Email*" %>
                <%= a.text_field :email, :class => "required email"%>
                <%= a.label :location, "Location*"%>
                <%= a.text_field :location, :class => 'required'%>
                <%= a.label :organization, "Organization/Company"%>
                <%= a.text_field :organization%>
                
              <%end%>
              <%= f.label :password, "Change Password" %>
              <%= f.password_field :password, :placeholder => "New password"%>
              <%= f.submit "Update", :class => "submit-changes" , :id => "submit-edit-form"%>
          <%end%>
        </div>
    </div>  
  </div>
</div>





