
<!-- ################-->
<!-- PAGE HEADER -->
<div class="page-header">
  <div class="shine">
    <div class="container">
      <div class="row-fluid">
        <div class="span12">
          <div class="row-fluid">
            <div class="span12">
              <h1 class="welcome_to_dashboard">Dashboard</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- PAGE HEADER -->

<!-- ################ -->
<!-- CONTENT CONTAINER-->
<!-- ################ -->
<div class="container">
  <div class="row-fluid">
    <!-- ASIDE -->
    <div class="span4">
      <div class="well">
        <h1 class="standart-h2 line2">My Profile <%= link_to edit_user_path(current_user) do %>
          <i class = "icon-edit"></i></h1>
          <% end %>
          <p class="idea_owners_name">
            <b>Name:</b> <%= current_user.name %>

          </p><br>
          <p class="idea_owners_organization">
            <b>Organization:</b> <%= current_user.organization %>
          </p>

          <p class="idea_owners_email">
            <b>Email:</b> <%= current_user.email %>
          </p>

          <p class="idea_owners_city">
            <b>City:</b> <%= current_user.city %>
          </p>

          <p class="idea_owners_country">
            <b>Country:</b> <%= current_user.country %>
          </p>

          <p class="idea_owners_organization">
            <%= link_to "Change Password", edit_user_path(current_user) %>
          </p>
          <hr class="half">

          <div class="row-fluid">
            <div class="line2 center">
              <a name="feedback_comments"><h5 class="standart-h3title"></a>
              <span class="idea_owners_feedback">
                Your Project Feedback
              </span>
            </h5>
          </div>

          <ul class="media-list">
            <li class="media">
              <div class="media-body">
                <div class="media-heading comment-info">
                  Posted by Developer
                  <i class="fa-icon-user"></i>
                  <a href="#">
                    Anna Smith
                  </a>
                  <span>|</span>
                  25 apr 2019
                </div>
                <p></p>
                <p>
                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                </p>
              </div>
            </li>
            <li class="media">
              <div class="media-body">
                <div class="media-heading comment-info">
                  Posted by Developer
                  <i class="fa-icon-user"></i>
                  <a href="#">
                    Anna Smith
                  </a>
                  <span>|</span>
                  25 apr 2019
                </div>
                <p>
                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                </p>
              </div>
            </li>
          </ul>
        </div><br>
        <a href="#"><span class="label label-info">Give Feedback to your Developer</span></a>
      </div>
    </div>


    <!-- END:  ASIDE -->
    <!-- PROJECT SHOW AREA --> 
    <div class="span8">
      <div class="blog-post">
        <div class="">
          <span class="label label-info label-xl span2 center">
            <span class="date-blog">
              <p class="project_flag">
                Current<br><br>Project
              </p>
            </span>
          </span>

          <div class="span10">
            <h2 class="standart-h2title">
              <div class="project_title">
                <br><%= @project_title %><br>
              </div>
            </h2>
          </div>

       <!-- ACTION BUTTON -->

        <%= button_to "Edit Your Project", edit_project_path(current_user.project),:id => 'edit-project', :class => "btn btn-warning btn-small span2", :method => :get %><%= button_to "Project Public View", project_path(current_user.project), :class => "btn btn-warning btn-small span2", :method => :get %></li>
          <p class="meta-blog clearfix">
      <!-- END ACTION BUTTON -->

          </p>
        </div>

        <div id="project-area">
        <p>
          PROJECT DESCRIPTION: <br>
          <%= @project_description %>
        </p>

        <p>
          CATEGORY: <br>
          <span class="project_category">
            Small Business
          </span>
        </p>

        <p>
          STATUS: <br>
          <span class="project_status">
           <%= @project_status  %>
         </span>
        </p>

        </div>

    </div>



<!--           <div class="line2 center">
            <h5 class="standart-h3title"><span>Give Feedback</span></h5>
          </div> -->
          <!-- FEEDBACK FORM -->
          <!-- <div class="well">
            <form accept-charset="UTF-8"  method="POST" class="comments-form">

              <p class="span3">
                <label for="comment-name">
                  <strong>
                    Name
                  </strong>
                  <span class="label">
                    required
                  </span>
                </label>
                <input class="span12" type="text" name="name" placeholder="Name" value="" >
              </p>

              <p class="span3">
                <label for="comment-name">
                  <strong>
                    Email
                  </strong>
                  <span class="label">
                    required
                  </span>
                </label>
                <input class="span12" type="text" name="name" placeholder="Email" value=""  required="" >
              </p>

              <p class="span3">
                <div class="feedback_subject">
                  <label for="comment-name">
                    <strong>
                      Who would you like to give feedback about?
                    </strong>
                  </label>
                  <select class="span12" type="text" name="name" placeholder="Website" value="" id="comment-name" required="" >
                </div>
              </p>

              <textarea class="span12" id="new_message" name="new_message" placeholder="Type in your comment" rows="5" ></textarea>

              <button class="btn btn-info btn-large" type="submit">Post</button>
            </form>
          </div> -->
          <!-- END FEEDBACK FORM -->
        </div>
        <!-- END PROJECT SHOW AREA -->
      </div>
    </div>
    <!-- ################ -->
    <!--END: CONTENT CONTAINER-->
    <!-- ################ -->
  </div>
  <!-- END MAIN-WRAPPER -
