
  <!-- START HEADER headertop -->
  <div class="headertop needhead">
    <!-- BLURED BACKGROUND-->
    <div class="action-banner-bg"></div>
    <!-- END BLURED BACKGROUND-->

    <!-- PIXEL BG DOTTS UNDER BLURED BACKGROUND-->
    <div class="action-banner-bg-top"></div>
    <!-- END PIXEL BG DOTTS UNDER BLURED BACKGROUND-->

<!-- ################-->
<!-- START TOP MENU -->
<!-- ################-->
<div class="nav-reaction">
  <div class="navbar navbar-static-top"> 
    <!-- navbar-fixed-top -->
    <div class="navbar-inner">
      <div class="home_page_container"> <a class="brand" href="/"> 
        <%= image_tag "logo2.gif" %>
        <span id="homepage_header">Coders for Humanity</span></a>
        <div id="main-nav">
          <div class="nav-collapse collapse">
            <ul class="nav">

              <li><%= link_to 'About us', '#about_us', :class => "about_us_navbar" %></li>
              <li><%= link_to 'Projects', '#projects_home', :class => "projects_navbar" %></li>
              <% if current_user %>
                <li><%= link_to 'My Dashboard', idea_owner? ? user_path(current_user) : developer_path(current_user) %></li>
              <% else %>
                <li><%= link_to 'Get started', new_wizard_path %></li>
              <% end %>

              <% if current_user %>
                <li><%= link_to 'Sign out', logout_path %></li>
              <% else %>
              <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign in</a>
                <ul class="dropdown-menu">
                  <li>
                    <div style="padding: 15px; padding-bottom: 0px;">
                     <form method="post" action="login" accept-charset="UTF-8">
                      <input style="margin-bottom: 15px;" type="text" placeholder="Email" id="email" name="email">
                      <input style="margin-bottom: 15px;" type="password" placeholder="Password" id="password" name="password">
                      <input style="float: left; margin-right: 10px;" type="checkbox" name="remember-me" id="remember-me" value="1">
                      <label class="string optional" for="sign-in"> Remember me</label>
                      <input class="btn btn-info btn-block" type="submit" id="sign-in" value="Sign In">
                    </form>
                    <form method='get' action='/wizard'>
                      <label style="text-align:center;margin-top:5px">Dont Have an Account?</label>
                      <input class="btn btn-info btn-block" type="submit" id="sign-up" value="Sign Up">
                    </form>
                    <form method="get" action="/auth/github">
                      <label style="text-align:center;margin-top:5px">Are you a Developer?</label>
                      <input class="btn btn-primary btn-block" type="submit" id="sign-in-google" value="Sign In with Github">
                    </form>
                  </div>
                </li>
              </ul>
            </li>
            <% end %>
          </ul>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
</div>

