
<div class="blog-post">
  <div class="span10 offset1"><h2 class="standart-h2title">Project: <%= @project.title %></h2>
  </div>
  <p class="meta-blog clearfix">
    <i class="icon-comment"></i>
    <a href="#discussion">2 Discussions</a> | <i class="icon-share"></i>
    Posted By: <%= Account.find(@project.creator_id).first_name %> | <i class="icon-envelope"></i>               <!--FIXME--> 
    Contact: <%= Account.find(@project.creator_id).email %> | <i class="icon-user"></i>
    Project status: <%= @project.status %> 
  </p>
  <div class="dd_buttons clearfix">
  </div>
  <h2>Description:</h2> <br> <h3><%= @project.description %></h3>
</div>
