
<div class="blog-post">
  <div class="span10 offset1"><h2 class="standart-h2title">Project: <%= @project.title %></h2>
  </div>
  <p class="meta-blog clearfix" style='text-transform: capitalize' >
    <i class="icon-user"></i> Posted By: <%= @project.creator.name %> |  
    <i class="icon-envelope"></i> <a href="mailto:<%= @project.creator.email %>?Subject=Hello">Contact by Email</a>  |
    <i class="icon-list"></i> Category: <%= link_to "#{@category}" %> |
    <i class="icon-user"></i> Project status: <%= @project.status %>
  </p>
  <div class="dd_buttons clearfix">
  </div>
  <h2 class='big-text'>Description:</h2> <br> <h3><%= @project.description %></h3>
</div>
