<!--START MAIN-WRAPPER--> 
<div class="main-wrapper">
  <!-- START HEADER headertop -->
  <div class="headertop needhead">
    <!-- BLURED BACKGROUND-->
    <div class="action-banner-bg"></div>
    <!-- END BLURED BACKGROUND-->

    <!-- PIXEL BG DOTTS UNDER BLURED BACKGROUND-->
    <div class="action-banner-bg-top"></div>
    <!-- END PIXEL BG DOTTS UNDER BLURED BACKGROUND-->

    <!-- ################-->
    <!-- START TOP MENU -->
    <!-- ################-->
    <div class="nav-reaction">
      <div class="navbar navbar-static-top"> 
        <!-- navbar-fixed-top -->
        <div class="navbar-inner">
          <div class="home_page_container"> <a class="brand" href="index.html"> 
            <img src="http://www.logomaker.com/logo-images/b22571254ae62347.gif">
            <span id="homepage_header">Coders for Humanity</span>
            <!--<img src="assets/img/Logo.png" alt="Logo">--></a>
            <div id="main-nav">
              <div class="nav-collapse collapse">
                    <div class='center' style='color: red'><%= flash[:error] %></div>
                <ul class="nav">

                  <li class="dropdown"><a href="#about_us">About Us</a> </li>
                  <li><a href="#projects_home">Projects</a></li>
                  <li><a href="#wizard">Get Started</a></li>
                  <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign in</a>
                    <ul class="dropdown-menu">
                      <li>
                        <div style="padding: 15px; padding-bottom: 0px;">
                          <form method="post" action="login" accept-charset="UTF-8">
                            <input style="margin-bottom: 15px;" type="text" placeholder="Email" id="email" name="email">
                            <input style="margin-bottom: 15px;" type="password" placeholder="Password" id="password" name="password">
                            <input style="float: left; margin-right: 10px;" type="checkbox" name="remember-me" id="remember-me" value="1">
                            <label class="string optional" for="sign-in"> Remember me</label>
                            <input class="btn btn-info btn-block" type="submit" id="sign-in" value="Sign In">
                          </form>
                          <form method='get' action='/wizard'>
                            <label style="text-align:center;margin-top:5px">Dont Have an Account?</label>
                            <input class="btn btn-info btn-block" type="submit" id="sign-up" value="Sign Up">
                          </form>
                          <form>
                            <label style="text-align:center;margin-top:5px">Are you a Developer?</label>
                            <input class="btn btn-primary btn-block" type="button" id="sign-in-google" value="Sign In with Github">
                          </form>
                        </div>
                      </li>
                    </ul>
                  </li>
                </ul>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ################-->
  <!-- END TOP MENU -->
  <!-- ################-->

  <!-- VIDEO HEADER -->
  <div class='space'></div>

  <div class='span5 offset2 large-text'>
    <h2>Build beautiful and meaningful things together</h2>
    <br>
    <div class="buttons span5">
      <a class="btn-large btn-warning" style='color:black' href="#idea_creator" data-filter=".graphics">I need a solution</a>
      <a class="btn-large btn-warning" style='color:black' href="#for_devs" data-filter=".graphics">I'm a developer</a>
    </div>
  </div>
  <div class="span6 offset1 videoratio">
    <iframe class="stretch" width="640" height="360" src="//www.youtube.com/embed/1Wxzy1wYNYw?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>
 
</div> 
<!-- END VIDEO HEADER -->


<!-- ABOUT US -->
<div class="marketing">
  <a name="about_us"></a>
  <div class="row-fluid">
    <hr class="half">
    <h2 class="center standart-h2title "> <span class="large-text"><span class="main-color">OUR</span> MISSION</span>
    </h2>
    <br>
    <div class='span6 offset3 center'>
      <p>To facilitate an open-sourced, community-minded platform that provides working technological solutions, connecting the world's non-tech savvy with socially beneficial causes to talented web developers.</p> 
      <br>
      <p>For those facing a challenge in their social cause, but who don't have the technological and financial resources to solve it, our developers will actively seek you out to assist in providing a pro-bono solution.</p> 
      <br>
      <p>For developers, our platform provides numerous opportunities to practice and learn new tech skills, solo or in teams, for hackathons, course final projects, or as a hobby in your free time.</p>
      <br>
      <p> Coders for Humanity is a place to meet and form an agreement on the project goals and deliverables and build beautiful and meaningful things together.</p>
    </div>
    <hr class="half">
  </div>
  <!-- END ABOUT US -->
  <!-- FEATURED PROJECTS -->
  <hr class="half">
  <a name="projects_home"></a>
  <div class="row-fluid">
    <hr class="half">
    <h2 class="center standart-h2title "> <span class="large-text"><span class="main-color">Featured</span> Projects</span><br>
    </h2>
  </div>
  <div class="row-fluid">
    <div class="span4 offset2"> 
      <i class="main-color"></i>
      <h3 class="features-title"> <span class="firstword"><%= link_to "Project: ", project_path(@featured_project1) %></span> <%= @featured_project1.title %></h3>
      <p class="features"><%= @featured_project1.description %></p>
      
      <br>
    </div>
    <div class="span4"> 

      <i class="main-color"></i>
      <h3 class="features-title"> <span class="firstword"><%= link_to "Project: ", project_path(@featured_project2) %> </span> <%= @featured_project2.title %></h3>
      <p class="features"> <%= @featured_project1.description %></p>
      <br>
    </div>
    <div class="span12">
      <p>To see a full list of current projects, please <a href='/projects#index'>click here</a>
      </div>
    </div>
    <!-- END FEATURED PROJECTS -->

    <!-- VALUE FOR CREATORS -->
    <hr class="half"> 
    <!-- <a name="idea_creator"> -->
      <a name="about_us"></a>
      <div class="row-fluid">
        <hr class="half">
        <h2 class="center standart-h2title "> <span class="large-text"><span class="main-color">VALUE</span> FOR CREATORS</span></h2>
        <br>
        <div class='span3 large-text xspace offset1'>
          <p>Create a project by posting your technical challenge to our projects board.</p> 
          <br>
          
        </div>
        <div class='span3 large-text xspace '>
          <p>Talented developers will publicly view your challenge and self-select to work on your project, solo or in teams.</p> 
          <br>
         
        </div>
        <div class='span3 large-text xspace '>
          <p>Developers will then contact you directly to discuss your project and form a memorandum of understanding.</p>
          <br>

        </div>
          <div class='span2 offset9'>
            <form method='get' action='/wizard'>
               <input class="btn btn-large btn-warning" style='color:black' type='submit' id='sign-up' value='Get Started'>
            </form>
          </div>
        <hr class="half">
      </div>
      <!-- END VALUE FOR CREATORS-->

      <!-- VALUE FOR DEVS -->
      <hr class='half'>
      <div class="row-fluid">
        <a name="for_devs"></a>
        <hr class="half">
        <h2 class="center standart-h2title "> <span class="large-text"><span class="main-color">Value</span> For Developers</span>
        </h2>
        <br>
      </div> 

    <div class='span6 offset2'>
      <img src='https://drupal.org/files/x-all-the-things-template.png'>  
    </div>
    <div class='span6 large-text xspace'> 
      <p>Find a real-world problem to help solve</p>
      <br>
      <p>Join a team or work solo</p>
      <br>
      <p>Challenge your coding skills and learn new concepts</p>
      <br>
    </div>
    <br>
    
  </div>
</div>
<div class='span12 offset11'>
          <p><a class="btn-large btn-warning" href="#" data-filter=".graphics">Get Started >> </a>
        </div>
        </div>

<hr class='half'>
<!-- END VALUE FOR DEVS-->
<%= render 'shared/footer' %>


