 <!-- PAGE HEADER IMAGE BACKGROUND -->
<div class="page-header"> 
  <div class="shine">
    <div class="container">
      <div class="row-fluid">
        <div class="span12">
          <h1 class="welcome_to_dashboard">Current Projects</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- PAGE HEADER -->
<div class="span10">
  <div class="container">
    <div class="row-fluid blog">
    </div>
  </div>
</div>
</div>
<!-- END PAGE HEADER -->
<!-- TOP LINKS -->
<div class="blog-line">    
  <div class="line-proj center">
    <div class="proj">          
      <ul id="tab-navigation" class="nav nav-tabs" data-tabs="tabs">
        <li class="active"> <a href="#all" data-toggle="tab"> All projects </a> </li>
        <% @categories.each do |category| %>
        <% unless category.projects.empty? %>
        <li> <a href="#<%= category.id %>" data-toggle="tab"> <%= category.name.humanize %> </a> </li>
        <% end %>
        <% end  %>
        <li> <a href="#complete" data-toggle="tab"> Completed projects </a> </li>
        <% if developer? %>
          <li> <a href="#under_review" data-toggle="tab"> Under review </a> </li>
        <% end %>
      </ul>
    </div>  
  </div>
</div>
<!-- END TOP LINKS -->
<!-- ALL PROJECTS -->
<div id='all' class='container tab-pane active'>
  <div class="large-text center">All projects</div>
  <hr class="half">
  <div id="container-folio" class="row ufilter">
    <div class='span9' style='margin:auto; float:none;'>
      <div id="portfolio" class="row">
        <ul id="projects">
          <% @projects.each do |project| %>
          <% unless project.complete? %>
          <li class="span3 mix box pint-blog popular">
            <h4 class="single-title">
              <b><%= link_to project.title, project_path(project) %></b>
            </h4>
            Creator: <%= project.creator.name.titleize %> <br>
            Category: <%= project.category.name.humanize %><br>
            Status: <%= project.status.humanize %>
          </li>                   
          <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- END ALL PROJECTS -->
<!-- EACH CATEGORY -->
<% @categories.each do |category| %>
<div id='<%= category.id %>' class='container tab-pane'>
  <div class="large-text center"> <%= category.name.humanize %> </div>
  <hr class="half">
  <div id="container-folio" class="row ufilter">
    <div class="span9" style='margin:auto; float:none;'>
      <div id="portfolio" class="row">
        <ul id="projects">
          <% category.projects.each do |project| %>
          <% unless project.complete? || project.under_review? %>
          <li class="span3 mix box pint-blog popular">
            <h4 class="single-title">
              <b><%= link_to project.title, project_path(project) %></b>
            </h4>
            Creator: <%= project.creator.name.titleize %> <br>
            Category: <%= project.category.name.humanize %><br>
            Status: <%= project.status.humanize %>
          </li>                   
          <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<% end %>
<!-- END EACH CATEGORY -->
<!-- ALL COMPLETED -->
<div id='complete' class='container tab-pane'>
  <div class="large-text center">Completed projects</div>
  <hr class="half">
  <div id="container-folio" class="row ufilter">
    <div class="span9" style='margin:auto; float:none;'>
      <div id="portfolio" class="row">
        <ul id="projects">
          <% @projects.each do |project| %>
          <% if project.complete? %>
          <li class="span3 mix box pint-blog popular">
            <h4 class="single-title">
              <b><%= link_to project.title, project_path(project) %></b>
            </h4>
            Creator: <%= project.creator.name.titleize %> <br>
            Category: <%= project.category.name.humanize %><br>
            Status: <%= project.status.humanize %>
          </li>                   
          <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- END ALL COMPLETED -->

<!-- UNDER REVIEW -->
<div id='under_review' class='container tab-pane'>
  <div class="large-text center">Projects under review</div>
  <hr class="half">
  <div id="container-folio" class="row ufilter">
    <div class="span9" style='margin:auto; float:none;'>
      <div id="portfolio" class="row">
        <ul id="projects">
          <% @projects.each do |project| %>
          <% if project.under_review? %>
          <li class="span3 mix box pint-blog popular">
            <h4 class="single-title">
              <b><%= link_to project.title, project_path(project) %></b>
            </h4>
            Creator: <%= project.creator.name.titleize %> <br>
            Category: <%= project.category.name.humanize %><br>
            Status: <%= project.status.humanize %>
          </li>                   
          <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
