<%= render 'shared/header' %>
<!-- ################-->
<!-- END TOP MENU -->
<!-- ################-->


<!-- PAGE HEADER IMAGE BACKGROUND -->
<div class="page-header"> 
  <div class="shine">
    <div class="container">
      <div class="row-fluid">
        <div class="span12">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- PAGE HEADER -->
<div class="span12">
  <div class="container">
    <div class="row-fluid blog">
    </div>
  </div>
</div>
</div>

<div class="container">
  <!--###################-->
  <!-- FILTERS-->
  <!--###################-->

  <div class="large-text center"> Project Categories </div>


  <div class="blog-line">     
    <div class="line-proj center">
      <div class="proj">           
        <div id="filters-blog">
          <ul id="Grid">

          <% @categories.each do |category| %>
          <li class="btn btn-link active filter" data-filter="<%= category.id %>" ><%= category.name %></li>
          <% end  %>
        </ul>
        </div>
      </div>  
    </div>
  </div>


  <!--###################-->
  <!--END: FILTERS-->
  <!--###################-->
  <!--###################-->
  <!-- START PORTFOLIO -->
  <!--###################-->
  <div id="container-folio" class="row ufilter"><!-- !important! => DONT REMOVE class="ufilter"--> 
    <!-- START MAIN CONTENT DIV -->
    <div class="span9 offset3">
      <div id="portfolio" class="row">
        <!-- portfolio item // THIS ITEM COMMENTED -->
        <ul id="projects">
        <% @projects.each do |project| %>
          <% if project.complete? != true %>
          <li class="span3 mix <%= project.category.id %> box pint-blog popular" >
            <h4 class="single-title">
              <%= link_to project.title, project_path(project) %></a>
            </h4>
    
            <%= project.creator.name %> <br>

            <%= project.category.name %><br>

            <%= project.status %>
          </li>                    
          <% end %>

        <% end %>
        </ul>

      </div>
    </div>
  </div>

    <hr class="half">

    <div class="large-text center"> Completed Projects </div>


  <div class="blog-line">     
    <div class="line-proj center">
      <div class="proj">           
        <div id="filters-blog">
          <ul id="Grid">

          <% @categories.each do |category| %>
          <li class="btn btn-link active filter" data-filter="<%= category.id %>" ><%= category.name %></li>
          <% end  %>
        </ul>
        </div>
      </div>  
    </div>
  </div>

  <div id="container-folio" class="row ufilter"><!-- !important! => DONT REMOVE class="ufilter"--> 
    <!-- START MAIN CONTENT DIV -->
    <div class="span9 offset3">
      <div id="portfolio" class="row">
        <!-- portfolio item // THIS ITEM COMMENTED -->
        <ul id="projects">
        <% @projects.each do |project| %>
          <% if project.complete? == true %>
          <li class="span3 mix <%= project.category.id %> box pint-blog popular" >
            <h4 class="single-title">
              <%= link_to project.title, project_path(project) %></a>
            </h4>
    
            <%= project.creator.name %> <br>

            <%= project.category.name %><br>

            <%= project.status %>
          </li>                    
          <% end %>

        <% end %>
        </ul>

      </div>
    </div>
  </div>
  <!--###################-->
  <!-- END PORTFOLIO -->
  <!--###################-->

<!-- END CONTAINER -->

<!-- Footer
  ================================================== -->
  
  <%= render 'shared/footer' %>
  <!-- END FOOTER -->
