<%= render 'shared/header' %>
<!-- ################-->
<!-- END TOP MENU -->
<!-- ################-->


<!-- PAGE HEADER IMAGE BACKGROUND -->
<div class="page-header"> 
  <div class="large-text center"> Projects </div>
  <div class="shine">
    <div class="container">
      <div class="row-fluid">
        <div class="span12">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- PAGE HEADER -->
<div class="span12">
  <div class="container">
    <div class="row-fluid blog">
      <div class="blog-post">
      </div>
    </div>
  </div>
</div>
</div>

<div class="container">
  <!--###################-->
  <!-- FILTERS-->
  <!--###################-->



  <div class="blog-line">     
    <div class="line-proj center">
      <div class="proj">           
        <div id="filters-blog">
          <ul id="Grid">
          <% @categories.each do |category| %>
          <li class="btn btn-link active filter" data-filter="<%= category.id %>" ><%= category.name %></li>
          <% end  %>
        </ul>
        </div>
      </div>  
    </div>
  </div>


  <!--###################-->
  <!--END: FILTERS-->
  <!--###################-->
  <!--###################-->
  <!-- START PORTFOLIO -->
  <!--###################-->
  <div id="container-folio" class="row ufilter"><!-- !important! => DONT REMOVE class="ufilter"--> 
    <!-- START MAIN CONTENT DIV -->
    <div class="span9 offset3">
      <div id="portfolio" class="row">
        <!-- portfolio item // THIS ITEM COMMENTED -->
        <ul id="projects">
        <% @projects.each do |project| %>

        <li class="span3 mix <%= project.category.id %> box pint-blog popular" >

          <!-- TITLE-->
          <h4 class="single-title">
            <%= link_to project.title, project_path(project) %></a>
          </h4>
          <!-- END TITLE-->
          <!-- META-->

          <%= project.creator.name %>
         
          <!-- END META-->

          </li>
        <!-- END portfolio item -->
        <% end %>
        </ul>

      </div>
    </div>
  </div>
  <!--###################-->
  <!-- END PORTFOLIO -->
  <!--###################-->

<!-- END CONTAINER -->

<!-- Footer
  ================================================== -->
  
  <%= render 'shared/footer' %>
  <!-- END FOOTER -->
