<!-- ################-->
<!-- END TOP MENU -->
<!-- ################-->


<!-- PAGE HEADER IMAGE BACKGROUND -->
<div class="page-header">
  <div class="shine">
    <div class="container">
      <div class="row-fluid">
        <div class="span12">
          <div class="row-fluid">
            <div class="span12">
              <h1 class="welcome_to_dashboard">About Us</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- PAGE HEADER -->
<div class="span12">
  <div class="container">
    <div class="row-fluid blog">
    </div>
  </div>
</div>
</div>

<div class="container">
  <!--###################-->
  <!-- FILTERS-->
  <!--###################-->





  <div id="container-folio" class="row ufilter"><!-- !important! => DONT REMOVE class="ufilter"--> 
    <!-- START MAIN CONTENT DIV -->
    <div class="span9 offset3">
      <div id="portfolio" class="row">
        <!-- portfolio item // THIS ITEM COMMENTED -->
        <div id="a">
          <ul id="projects">
            <li class="span3" >

         
                <div class="jen"></div>
              </h4>

<!--               <li class="span3 " >
              <h4 class="single-title">
                <%= image_tag("uku.jpeg", :class => "first") %>
                <%= image_tag("uku_alter.png", :class => "second") %>
              </h4>

              <li class="span3" >
              <h4 class="single-title">
                <%= image_tag("liz.jpeg", :class => "first") %>
                <%= image_tag("liz_alter.png", :class => "second") %>
              </h4>
              <br>

              <li class="span3 offset2" >
              <h4 class="single-title">
                <%= image_tag("luis.jpeg", :class => "first") %>
                <%= image_tag("luis_alter.jpg", :class => "second") %>
              </h4>

              <li class="span3" >
              <h4 class="single-title">
                <%= image_tag("adigo.jpeg", :class => "first") %>
                <%= image_tag("adigo_alter.jpg", :class => "second") %>
              </h4> -->
          </ul>
        </div>

      </div>
    </div>
  </div>

  <!--###################-->
  <!--END: FILTERS-->
  <!--###################-->
  <!--###################-->
  <!-- START PORTFOLIO -->
  <!--###################-->
  
  <!--###################-->
  <!-- END PORTFOLIO -->
  <!--###################-->

<!-- END CONTAINER -->

<!-- Footer
  ================================================== -->

