<!DOCTYPE html>
<html>
<head>
  <title>Coders for Humanity</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Coda' rel='stylesheet' type='text/css'>

  <%= csrf_meta_tags %>

  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

</head>
<body>

  <div class="main-wrapper">
  
  <% if current_page?(:controller => 'welcome', :action => 'index') %>
    <%= render 'shared/home_header' %>
  <% else %>
    <%= render 'shared/header' %>
  <% end %>

  <%= yield %>

  <%= render 'shared/footer' %>
</div>
</body>
</html>
